.bg {
    width: 100%;
    height: 100%;
    background-image:url(../img/back2.png);
    background-position: fixed;
    background-size: 100%;

    transition: all 0.2s ease-in-out;
} 
.flex1 {
    width: 20%;
    height: 8.7%;
    position: absolute;
    top: 16.7%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.year {
    width: 20%;
    height: 9%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.festival {
    width: 20%;
    height: 7.5%;
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.place {
    width: 52%;
    height: 2%;
    position: absolute;
    bottom: 1.7%;
    left: 24.1%;
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.date {
    width: 20%;
    height: 6%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.flex2 {
    width: 15%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 35%;

    animation-name: flex2;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count:1;
}
.flex3 {
    width: 15%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;

    animation-name: flex3;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.soju-L {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;


    animation-name: soju;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.soju-R {
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    animation-name: soju;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.yellow {
    width: 0%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    animation-name: yellow;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.music {
    width: 20%;
    height: 16.7%;
    position: absolute;
    top: 34.3%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    animation-name: festival;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.music-T {
    width: 20%;
    height: 8.1%;
    position: relative;
    top: 34.3%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0%;

    animation-name: music1;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
/*.music-T:hover {
    -webkit-transform: translateY(-96%);
    -webkit-transition: all 2s ease-out;
}*/
.music-B {
    width: 20%;
    height: 8.6%;
    position: absolute;
    top: 42.4%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0%;

    animation-name: music2;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.pinkbar {
    width: 20%;
    height: 0%;
    position: absolute;
    top: 43.65%;
    left: 50%;
    transform: translate3d(-50%, -56.35%, 0);

    animation-name: pink;
    animation-duration: 1s;
    animation-delay: 6.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
/*.music-B:hover {
    -webkit-transform: translateY(97%);
    -webkit-transition: all 2s ease-out;
}*/




@-webkit-keyframes flex2 {
    0% {
       
    }
    100%{
        transform: translateX(-200%);
    }
}
@-webkit-keyframes flex3 {
    0% {
       
    }
    100%{
        
        transform: translateX(200%);
    }
}
@-webkit-keyframes soju {
    0% {
       height: 100%;
    }
    100%{
        
        height: 0;;
    }
}
@-webkit-keyframes yellow {
    0% {
       width: 0%;
    }
    100%{
        
        width: 60%;
    }
}
@-webkit-keyframes pink {
    0% {
        height: 0%;
    }
    100%{
        
        height: 16.2%;
    }
}
@-webkit-keyframes festival {
    0% {
       opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@-webkit-keyframes music1 {
    0% {
       opacity: 0%;
    }
    50% {
        opacity: 100%;
        transform: translateX(-50%);
    }
    75% {
        transform: translate3d(-50%, -97%,0);
        opacity: 100%;
    }
    100% {
        transform: translate3d(-50%, -97%,0);
        opacity: 100%;
    }
}
@-webkit-keyframes music2 {
    0% {
       opacity: 0%;
    }
    50% {
        opacity: 100%;
        transform: translateX(-50%);
    }
    75% {
        transform: translate3d(-50%, 97%,0);
        opacity: 100%;
    }
    100% {
        transform: translate3d(-50%, 97%,0);
        opacity: 100%;
    }
}
.menu {
    width: 20%;
    height: 10%;
    position: absolute;
    top: 2%;
    right: 0%;
}
.guest {
    width: 30px;
    height: 50px;
    right:40%;
    opacity: 0%;
    position: absolute; 
}
.play {
    width: 30px;
    height: 50px;
    right: 20%;
    opacity: 0%;
    position: absolute;
}
.volume {
    width: 30px;
    height: 50px;
    right: 0%;
    opacity: 0%;
    position: absolute;
}
.name {
    width: 0%;
    height: 16%;
    position: absolute;
    top: 35.5%;
    left: 50%;
    transform: translateX(-50%);

}
.run-button {
    font-size: 20pt;
}
.guest:hover .ghover {
    opacity: 1;
}
.play:hover .phover {
    opacity: 1;
}
.volume:hover .vhover {
    opacity: 1;
}
.ghover {
    right: 20%;
    bottom: 5%;
    opacity: 0%;
    font-size: 10pt;
    position: absolute;
}
.phover {
    right: 10%;
    bottom: 5%;
    opacity: 0%;
    font-size: 10pt;
    position: absolute;
}
.vhover {
    right: 0%;
    bottom: 5%;
    opacity: 0%;
    font-size: 10pt;
    position: absolute;
}
.audio {
    position: absolute;
    width: 30%;
    height: 10%;
    top: 2%;
    left: 5%;
    opacity: 0%;
}
